body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color:#fff;
    text-decoration: none;
    padding:8px;
}

section{
    padding:30px;
}

h1{
    margin-top:0;
}